
%h1#title Guff

%p
  Log in with <a href="#" class="github-login">Github</a>.
  Log in with <a href="#" class="google-login">Google</a>.

:javascript
  $(document).ready(function() {
    window.app.emit('load_auth')
  })


-# .intro
-#
-#   .container
-#     %h1#title
-#       Ugh.
-#
-#     %p
-#       Ever wanted to have everything you're
-#       supposed to do for the week just neatly
-#       laid out for you? Maybe wanted to create
-#       an event without slogging through news
-#       updates regarding babies defecation habits
-#       and candy crush invites? Yeah, me too.
-#
-#     %section.login
-#       Getting started is as easy as click on
-#       one of these two icons. Simplicity, thy
-#       name is Guff.
-#
-# %h2
-#   What's the deal?
-#
-# %p
-#   Guff is a very simple web application which
-#   allows you to keep control of your life and
-#   schedule. Simply create the various events
-#   that occur in your life and Guff will take
-#   care of the rest.
-#
-#
-# %h1
-#   Guff
-#
-# %p
-#   Life without the baggage.
