
%h1#title Guff

%p
  Log in with <a href="#" class="github-login">Github</a>.
  Log in with <a href="#" class="google-login">Google</a>.

:javascript
  $(document).ready(function() {
    window.app.emit('load_auth')
  })
